/**
 * @name Invisible 
 * @author Rio
 * @authorID Rio#2253
 * @description Basic Background Theme 
 * @version 3
 */

/* Can be deleted, only for Icons in the Settings */
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);


:root {
	--transparencycolor:			0,0,0;      																										/* 0,0,0																						*/
	--transparencyalpha:			0.15;																												/* 0.15																							*/
	--main-color: 				  #7ca2c5;				/* A Color which matches your background */
	--rgb-main-color:               124, 162, 197;		  /* Same Color as above but writen as rgb value */
	--textbrightest: 				222,222,222;																										/* 255,255,255 */
	--textbrighter: 				222,222,222;																										/* 222,222,222 */
	--textbright: 					200,200,200;																										/* 200,200,200 */
	--textdark: 					160,160,160;																										/* 160,160,160 */
	--textdarker: 					125,125,125;																										/* 125,125,125 */
	--textdarkest: 					90,90,90;																											/* 90,90,90 */
	
	--background:					url(https://cdn.discordapp.com/attachments/808933106093523024/998705429590835350/DSC01878.JPG);
	--backgroundposition:			center;
	--backgroundsize:				cover;
}



.theme-light,
.theme-dark {
	--interactive-active: rgb(var(--textbrightest));
	--interactive-muted: rgb(var(--textdarkest));
	--background-accent: rgba(var(--transparencycolor), .1);
	--background-primary: rgba(var(--transparencycolor), .2);
	--background-secondary: rgba(var(--transparencycolor), .3);
	--background-secondary-alt: rgba(var(--transparencycolor), .0);
	--background-tertiary: rgba(var(--transparencycolor), .3);
	--background-floating: rgba(var(--transparencycolor), .5);
	--background-mobile-primary: rgba(var(--transparencycolor), .2);
	--background-mobile-secondary: rgba(var(--transparencycolor), .3);
	--background-modifier-accent: rgba(var(--textbrightest),.1);
	--background-message-automod: rgba(var(--dangercolor),.05);
	--background-message-automod-hover: rgba(var(--dangercolor),.1);
	--channeltextarea-background: rgba(var(--transparencycolor), .3);
	--input-background: rgba(var(--transparencycolor), .1);
	--elevation-low: 0 1px 5px 0 rgba(var(--transparencycolor), .3);
	--elevation-high: 0 2px 10px 0 rgba(var(--transparencycolor), .3);
}


/* Background Opener */


body,														/* body														*/
#app-mount .app-3xd6d0,										/* app					container							*/
#app-mount .scroller-WSmht3,
#app-mount .app-2CXKsg,										/* app					inner								*/
#app-mount .loading-1yrGTe,									/* app					inner loading						*/
#app-mount .wrapper-3AZUiP,									/* app					errorscreen							*/
#app-mount .bg-1QIAus,										/* app					background							*/
#app-mount .layer-86YKbF,									/* layer				container							*/
#app-mount .container-2o3qEW,								/* layer				container							*/
#app-mount .container-1NXEtd,								/* channels				inner								*/
#app-mount .privateChannels-oVe7HL,							/* dmchannels												*/
#app-mount .panels-3wFtMD > *,								/* account/voice		inner								*/
#app-mount .chat-2ZfjoI,									/* chat					container							*/
#app-mount .container-3XgAHv,								/* chat					thread sidebar						*/
#app-mount .wrapper-3HVHpV,									/* chat					messages loading					*/
#app-mount .noChannel-Z1DQK7,								/* nochannel												*/
#app-mount .members-3WRCEx,									/* members													*/
#app-mount .members-3WRCEx > div,							/* members				content								*/
#app-mount .content-3_h0XI,									/* unavailable												*/
#app-mount .container-2cd8Mz,								/* peoples													*/
#app-mount .container-1oAagU,								/* peoples				activity list						*/
#app-mount .applicationStore-2nk7Lo,						/* nitro													*/
#app-mount .pageWrapper-2PwDoS,								/* guilddiscovery											*/
#app-mount .pageWrapper-1x6lGh,								/* unihub												    */
#app-mount .scroller-2FKFPG,								/* scroller old												*/
#app-mount .callContainer-HtHELf,							/* call container 											*/
#app-mount .standardSidebarView-E9Pc3j,						/* settings													*/			
#app-mount .contentRegion-3HkfJJ {							/* settings				content								*/
	background: transparent ;
}



/* 		Background Img		 */

body::before,
body::after {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	z-index: -1;
}
body::before {
	background: var(--background) var(--backgroundposition)/var(--backgroundsize);
}


/* Main Color Objects */

.item-2LIpTv {
background: var(--main-color) !important;
}

.numberBadge-37OJ3S.base-3IDx3L.baseShapeRound-3epLEv {
    background-color: var(--main-color) !important;
}

.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
    color: #fff;
    background-color: var(--main-color);
}

.popoutBanner-3cqRD9 {
    background-color: var(--main-color) !important;
}

.barFill-2Bh7CX {
    background: var(--main-color);
    height: 100%;
}

.colorWarning-3oV0Ge {
    background-color: var(--main-color);
    color: #e2dbdb;
}

.live-1V2D-f.liveSmall-1Urjcy.textBadge-1fdDPJ.base-3IDx3L.liveShapeRound-2Tgi2d{
	background-color: var(--main-color) !important;
}

.iconBadge-32fMme {
    background-color: var(--main-color);
}

.expandedFolderIconWrapper-3RwQpD {
	background-color: rgba(var(--rgb-main-color), .6);
}

.expandedFolderBackground-1kSAf6 {
	background-color: rgba(var(--rgb-main-color), 0.2);
	
}

.closedFolderIconWrapper-3tRb2d {
	background-color: var(--main-color);
}

.iconBadge-32fMme.participating-2Z81oO {
    background-color: var(--main-color);
}

.circleIconButton-1VxDrg {
    color: var(--main-color);
}

.rtcConnectionQualityFine-3zZrSa .pingForeground-1BRBTc,
.rtcConnectionStatusConnected-1c73OK {
    color: var(--main-color);
}








/* Allgemeine Tranparenz */

.userPopout-2j1gM4 {
     background: rgba(var(--transparencycolor), 0.6)
}

.body-16rSsp.inset-SbsSFp {
	background: rgba(0, 0, 0, 0);
}

.menu-1QACrS {
	background: rgba(var(--transparencycolor), 0.6);
}

.scrollableContainer-15eg7h {
    background-color: rgba(var(--transparencycolor), 0.4);
    border-radius: 16px;
}

.listItems-6eZzQ1 {
	background: transparent;
}

.container-8Futzw.thin-31rlnD.scrollerBase-_bVAAt {
	background: rgba(var(--transparencycolor), .7) !important;
} 

.scroller-3X7KbA {
    background-color: transparent !important;
}

.container-YkUktl {
	background-color: rgba(var(--transparencycolor), ) !important;
}



/* Borders */

.sidebar-1tnWFu {
	border-radius: unset !important;
    overflow: hidden;
}

.notice-2HEN-u {
	border-radius: 0px 0px 0px 0px;
}